.cadastro {
    display: flex;
    align-items: center;
    flex-direction: column;
    /*
    Verificar se tem uma forma de fazer com que página aumente de forma automática. 
    Pois todas as vezes que um campo tem o seu tamanho alterado, tem que alerar a altura da página.
    */
    height: 1600px;
    font-size: 1.5rem;
}

.img-cadastro {
    max-width: 50px;
    max-height: 50px;
    width: auto;
    height: auto;
}

.logo-cadastro {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    font-size: 2rem;
    font-weight: bold;
}

.logo-endereco {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    font-size: 2rem;
    font-weight: bold;
}

.dados-pessoais {
    width: 700px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(9, 218, 30, 0.847);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
}

.dados-pessoais label {
    display: block;
}

.dados-pessoais input,
select {
    /* Para colocar uma borda nos campos input e tirar a sombra que a borada coloca */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 0 10px;
    padding: 5px;
}

.oferta {
    display: flex;
}

.oferta input {
    /* Redefine o tamanho do checkbox - Display Flex interfere neste tipo de elemento */
    min-width: 20px;
    min-height: 20px;
    margin-right: 5px;
}

.endereco input,
select,
textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

.endereco {
    width: 700px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(9, 218, 30, 0.847);
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.endereco label {
    display: block;
}

.endereco textarea {
    width: 650px;
    /* Para retirar a opção de expandir  */
    resize: none;
}

/* Botão Enviar */
/*
Estilo do botão submit
Aplicação de estilo através do atributo de um elemento(tag)
*/
input[type="submit"] {
    /* Faz com que os botões fiquem um ao lado do outro */
    float: left;
    font-size: 20px;
    color: #fff;
    text-shadow: 0 1px 1px #333;
    align-items: center;
    background: rgb(61, 157, 179);
    border: 1px solid rgba(9, 218, 30, 0.847);
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 10%;
    padding: 8px 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

/* Aplicação de estilo através do atributo de um elemento(tag) */
input[type="submit"]:hover {
    background: #4ab3c6;
}