.cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*
    Verificar se tem uma forma de fazer com que página aumente de tamanho de forma automática. 
    Pois, todas as vezes em que um campo tem o seu tamanho alterado, a altura da página tem que ser alterada, para que o botão enviar possa ficar visível.
    Portanto, não há mais necessidade de utilizar: height: 1850px
    Esta situação foi resolvida incluido o seletor: enviar-cadastro
    */
    /* height: 1850px; */
    font-size: 1.5rem;
}

.enviar-cadastro{
    margin-top: 1rem;
    margin-bottom: 12rem;
}

.img-cadastro {
    max-width: 50px;
    max-height: 50px;
    width: auto;
    height: auto;
}

.logo-cadastro {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    font-size: 2rem;
    font-weight: bold;
}

.logo-endereco {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    font-size: 2rem;
    font-weight: bold;
}

.dados-pessoais {
    width: 700px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(9, 218, 30, 0.847);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 15px 15px 15px;
}

.dados-pessoais label {
    display: block;
    margin-top: 5px;
    margin-bottom: 2px;
}

.dados-pessoais input,
select {
    /* Define as seguintes margem para o campo: top=0; horizontal(right/left)=0; bottom=10 */
    margin: 0 0 10px;
    /* Define o preenchimento do campo para as quatro bordas com 10px(top, right, bottom, left) */
    padding: 10px;
    /* Remove a borda padrão do navegador */
    /* border: none; */
    /* Remove a borda default(preta) do navegador quando o input é selecionado e permite definir uma nova borda(outline)
    ATENÇÃO: outline é muito importante para a acessibilidade do Usuário quando utiliza o site. Portanto, o outline não deve ser retirado.
    */
    outline: none;
    /* border: solid 1px #ccc; */
    border: 1px solid lightblue;
    border-radius: 5px;
    transition: border-color 200ms;
}

textarea{
    outline: none; 
}

.oferta {
    display: flex;
}

.oferta input {
    /* Redefine o tamanho do checkbox - Display Flex interfere neste tipo de elemento */
    min-width: 20px;
    min-height: 20px;
    margin-right: 5px;
}

.endereco input,
select,
textarea {
    /* Define as seguintes margem para o campo: top=0; horizontal(right/left)=0; bottom=10 */
    margin: 0 0 10px;
    /* Define o preenchimento do campo para as quatro bordas com 10px(top, right, bottom, left) */
    padding: 10px;
    /* Remove a borda padrão do navegador */
    /* border: none; */
    /* Remove a borda default(preta) do navegador quando o input é selecionado e permite definir uma nova borda */
    outline: none;
    /* border: solid 1px #ccc; */
    border: 1px solid lightblue;
    border-radius: 5px;
    transition: border-color 200ms;    
}

.endereco {
    width: 700px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(9, 218, 30, 0.847);
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 15px 15px 15px;
}

.endereco label {
    display: block;
    margin-top: 5px;
    margin-bottom: 2px;
}

.endereco textarea {
    width: 650px;
    /* Para retirar a opção de expandir  */
    resize: none;
}

/* Botão Enviar */
/*
Estilo do botão submit
Aplicação de estilo através do atributo de um elemento(tag)
*/
input[type="submit"] {
    cursor: pointer;
    /* background: rgb(61, 157, 179); */
    background-color: #04AA6D;
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;
    border: 1px solid #fff;
    margin-bottom: 10px;
    text-shadow: 0 1px 1px #333;
    align-items: center;

    -webkit-border-radius: 5px;
    border-radius: 5px;

    transition: all 0.3s ease;

    /* Faz com que os botões fiquem um ao lado do outro */
    float: left;
    margin-left: 10%;
    border: 1px solid rgba(9, 218, 30, 0.847);
}

/* Aplicação de estilo através do atributo de um elemento(tag) */
input[type="submit"]:hover {
    /* background: #4ab3c6; */
    background: rgba(9, 218, 30, 0.847);
}