.contato-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Para que os itens fiquem abaixo do cabeçalho, quando este é definido como fixo */
    padding-top: 160px;
}

.contato-principal h2 {
    text-align: center;
}

.entre-contato {
    margin-bottom: 10px;
}

.entre-contato p {
    font-size: 1.2rem;
    font-weight: bold;
}

.contato-form {
    width: 450px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(9, 218, 30, 0.847);
    border-radius: 10px;
    padding: 10px;
}

.contato-email label {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
}

.contato-email input {
    width: 100%;
    margin: 0 0 20px;
    /* Para colocar uma borda nos campos input e tirar a sombra que a borada coloca */
    border: 1px solid #ccc;
    border-radius: 5px;
    /*
    O primeiro valor é altura do box o segundo início do input, quando utilizado a posição
    do início do input
    */
    padding: 10px;
}

.contato-email textarea {
    width: 427px;
    /* Para colocar uma borda nos campos input e tirar a sombra que a borada coloca */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0px 10px;
    /* Para retirar a opção de expandir  */
    resize: none;
}

.contato-botao {
    position: relative;
    margin: 5px;
}

.contato-whatsapp {
    text-align: center;
    margin-top: 10px;
}

/*
Estilo do botão submit/reset
Aplicação de estilo através do atributo de um elemento(tag)
*/
input[type="submit"],
input[type="reset"] {
    /* Faz com que os botões fiquem um ao lado do outro */
    float: left;
    width: 30% !important;
    font-size: 20px;
    color: #fff;
    text-shadow: 0 1px 1px #333;
    align-items: center;
    background: rgb(61, 157, 179);
    border: 1px solid rgba(9, 218, 30, 0.847);
    border-radius: 5px;
    padding: 8px 5px;
    margin-bottom: 10px;
    margin-left: 10%;
    transition: all 0.3s ease;
    cursor: pointer;
}

/* Aplicação de estilo através do atributo de um elemento(tag) */
input[type="submit"]:hover {
    background: #4ab3c6;
}

input[type="reset"]:hover {
    background: #4ab3c6;
}