/* CSS reset(reiniciar) */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    /* O box-sizing com o valor border-box faz com que o navegador não calcule
    a dimensão de um elemento somando bordas e margens com altura e largura.
    */
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*
Define um controle de variável(var) a ser utilizado em vários elementos
Este recurso permite que a manutenção das cores fique em um único lugar
*/
:root {
    --cor-primaria: #7f807f61; /* botão de produto sem hover */
    --cor-segundaria: rgba(63, 109, 55, 0.847); /* botão de produto com hover */
}

/* Define um valor da fonte padrão tendo com referência 16px */
html {
    font-size: 62.5%;
}

body {
    /* Cores em degradê */
    background-color: #D8CE8F;
}

.principal,
.principal-produtos,
.principal-sobre,
.principal-politica,
.principal-login,
.principal-cadastro,
.principal-carrinho,
.termoUso,
.politicaPrivacidade {
    /* Para que os itens fiquem abaixo do cabeçalho, quando este é definido como fixo(position: fixed) */
    padding-top: 170px;
    color: #191813;
}

.principal {
    margin-bottom: 100px;
}

.principal h1 {
    margin-bottom: 10px;
}

.principal-apresentacao {
    text-align: center;
    color: #191813;
}

.principal-apresentacao h1 {font-size: 40px;}

.principal-apresentacao article, p {font-size: 2rem;}

.politica-privacidade {
    margin-bottom: 10px;
}

/* Estilizando todos os links de âncora */
a {
    text-decoration: none;
    color: #fff;
}

.menu a:hover {
    background-color: #265239;
    padding: 0.5rem 1rem;
    border: none;
}

a:hover { /* Contorno de links de âncora */
    color: white;
    background-color: #73944C;
    border: 1px solid rgba(9, 218, 30, 0.847);
    border-radius: 5px;
}

.principal-sobre h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.principal-sobre h2 {
    font-size: 2.5rem;
    margin-top: 1rem;
}

.principal-sobre article {
    font-size: 2rem;
    text-align: justify;
    margin: 0 25rem 0;
}

.principal-sobre h1, h2 {
    margin: 0 25rem 0;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
    background-color: #191813;
    padding: 1rem;
}

footer p { /* Linha referente aos Direitos Autorais do footer */
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

.rodaPe ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 0;
    margin-left: 18px;
    list-style-type: none;
}

.btn-verProduto,
.btn-comprar {
    width: max-content;
    text-decoration: none;
    border: 1px solid rgba(9, 218, 30, 0.847);
    border-radius: 5px;
    background-color: var(--cor-primaria);
    padding: 10px;
    margin-top: 5px;
    margin: auto;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn-verProduto:hover,
.btn-comprar:hover {
    background-color: var(--cor-segundaria);
}

/* Controle WhatsApp */
.idimgwtsapp {
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
}

.whatsapp:hover {
    background-color: transparent;
    border: transparent;
}

.idimgwtsapp:hover {
    transform: scale(0.9);
}

/* Fim Controle WhatsApp */

.botao {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: blue;
    background: grey;
    border-radius: 5px;
    padding: 1rem 2.6rem;
}

/*@media (max-width: 500px) {
    .principal-sobre {
        width: 100%;
    }
}*/