/* CSS reset(reiniciar) */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    /* O box-sizing com o valor border-box faz com que o navegador não calcule
    a dimensão de um elemento somando bordas e margens com altura e largura.
    */
    box-sizing: border-box;
}

/*
Define um controle de variável(var) a ser utilizado em vários elementos
Este recurso permite que a manutenção das cores fique em um único lugar
*/
:root {
    --cor-primaria: #80808061;
    --cor-segundaria: rgba(9, 218, 30, 0.847);
}

/* Define um valor da fonte padrão tendo com referência 16px */
html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    /* Cores em degradê */
    background-image: linear-gradient(to right, #98c5e3, #1772d9);
}

.principal,
.principal-produtos,
.principal-sobre,
.principal-politica,
.principal-login,
.principal-cadastro,
.principal-carrinho,
.termoUso,
.politicaPrivacidade {
    /* Para que os itens fiquem abaixo do cabeçalho, quando este é definido como fixo(position: fixed) */
    padding-top: 170px;
}

.principal {
    margin-bottom: 100px;
}

.principal h1 {
    margin-bottom: 10px;
}

.principal article {
    font-size: 1.5rem;
}

.principal-apresentacao {
    text-align: center;
}

.subtitulo{
    font-size: 2rem;
    font-weight: bold;
}
/*  */
.politicaPrivacidade {
    font-size: 1.5rem;
    margin-bottom: 10rem;
}

.politica-privacidade {
    margin-bottom: 10px;
    font-size: 1.5rem
}

.termoUso{
    font-size: 1.5rem;
    margin-bottom: 10rem;
}
.termos-uso {
    font-size: 1.5rem
}

/*  */

/* Estilizando todos os links de âncora */
a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: white;
    background-color: #1c87c9;
    border: 1px solid rgba(9, 218, 30, 0.847);
    border-radius: 5px;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
    background-color: #010101;
    border: 1px solid rgba(9, 218, 30, 0.847);
    padding: 1rem;
}

.rodaPe ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 0;
    margin-left: 18px;
    list-style-type: none;
}

.btn-verProduto,
.btn-comprar {
    width: max-content;
    text-decoration: none;
    border: 1px solid rgba(9, 218, 30, 0.847);
    border-radius: 5px;
    background-color: var(--cor-primaria);
    padding: 10px;
    margin-top: 5px;
    margin: auto;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn-verProduto:hover,
.btn-comprar:hover {
    background-color: var(--cor-segundaria);
}

/* Controle WhatsApp */
.idimgwtsapp {
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
}

.whatsapp:hover {
    background-color: transparent;
    border: transparent;
}

.idimgwtsapp:hover {
    transform: scale(0.9);
}

/* Fim Controle WhatsApp */

.botao {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: blue;
    background: grey;
    border-radius: 5px;
    padding: 1rem 2.6rem;
}