/* CSS reset(reiniciar) */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    /* O box-sizing com o valor border-box faz com que o navegador não calcule
    a dimensão de um elemento somando bordas e margens com altura e largura.
    */
    box-sizing: border-box;
}

/*
Define um controle de variável(var) a ser utilizado em vários elementos
Este recurso permite que a manutenção das cores fique em um único lugar
*/
:root {
    --cor-primaria: #80808061;
    --cor-segundaria: rgba(9, 218, 30, 0.847);
}

/* Define um valor da fonte padrão tendo com referência 16px */
html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    /* font-size: 1.6em; */
    /* Cores em degradê */
    background-image: linear-gradient(to right, #98c5e3, #1772d9);
}

/* Este seletor - minhaPagina - é apenas para teste interno */
/* .minhaPagina {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
} */

.principal,
.principal-produtos,
.principal-sobre,
.principal-politica,
.principal-login,
.principal-cadastro,
.principal-carrinho {
    /* Para que os itens fiquem abaixo do cabeçalho, quando este é definido como fixo(position: fixed) */
    padding-top: 170px;
}

.principal {
    margin-bottom: 100px;
}
.principal h1{
    margin-bottom: 10px;
}

.principal-apresentacao {
    text-align: center;
}

.politica-privacidade{
    margin-bottom: 10px;
}

/* Estilizando todos os links de âncora */
a {
    text-decoration: none;
    /* color: #1c87c9; */
    color: #fff;
    /* background-color: white; */
}

a:hover {
    color: white;
    background-color: #1c87c9;
    border: 1px solid rgba(9, 218, 30, 0.847);
    /* border-radius: faz com que a borda fique arredondado */
    border-radius: 5px;
}

footer {
    border: 1px solid rgba(9, 218, 30, 0.847);
    background-color: #010101;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 1.2rem;
}

.rodaPe ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 0 18px;
    gap: 30px;
}

.btn-verProduto,
.btn-comprar {
    /* border: none;Retira a borda */
    border: 1px solid rgba(9, 218, 30, 0.847);
    padding: 10px;
    background-color: var(--cor-primaria);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.btn-verProduto:hover,
.btn-comprar:hover {
    background-color: var(--cor-segundaria);
}

/* Controle WhatsApp */
.idimgwtsapp {
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
}

.whatsapp:hover {
    background-color: transparent;
    border: transparent
}

.idimgwtsapp:hover {
    transform: scale(0.9);
}

/* Fim Controle WhatsApp */

.botao {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: 1rem 2.6rem;

    background: grey;
    border-radius: 5px;
    color: blue
}